$color-white: #fff;

$color-font-primary: #24303e;
$color-font-secondary: #808397;

$color-font-quaternary: #a7aaad;

$color-footer-background: #90d4c6;
$color-footer-logo: #2c7566;
$color-footer-links: #458d7e;

$color-font-G-design-header: #24554a;
$color-font-G-design-par: #3e7467;
$color-font-P-design-header: #052c3b;
$color-font-P-design-par: #19536c;

$color-font-testimonies-text: #5b636d;

$color-primary: #fad400;
$color-secondary: #fe7766;

$color-mobile-nav-btn: #fbd600;
